<div id="modal-center" class="uk-flex-top" data-uk-modal>
	<div
		class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical card rounded"
	>
		<button class="uk-modal-close-default" type="button" data-uk-close></button>

		<div class="container form-container">
			<h2 class="text-center">Change Password</h2>
			<form
				id="changePasswordForm"
				method="post"
				action="/<%= theUserType %>/<%=userId %>/password"
			>
				<div class="form-group mb-3">
					<label for="newPassword">New Password</label>
					<input
						type="password"
						class="form-control"
						id="newPassword"
						name="password"
						placeholder="Enter new password"
						required
					/>
				</div>

				<button type="submit" class="btn btn-primary btn-block w-100">
					Change Password
				</button>
			</form>
		</div>
	</div>
</div>
