<footer class="uk-section uk-section-small uk-text-center">
	<hr />

	<p class="uk-text-small uk-text-center">
		Copyright <%= new Date().getFullYear() %> -
		<a 
			>Powered by EduAxis</a
		>
	</p>
</footer>
